<article class="primary-container custom-list-card">

    <nav class="custom-list-header">
        <h5 class="max">
            {{ _(mainTitle) }}
        </h5>

        {% if items and has_list_permission('Delete', list_type_title) %}
        <button
            type="button"
            class="circle transparent small"
            title="{{ _('Select') }}"
            onclick="
                event.preventDefault();
                event.stopPropagation();
                startListSelectionMode();
            ">
            <i>checklist</i>
        </button>
        {% endif %}
    </nav>


    {% if not items %}

        <br>

        <div class="center-align custom-list-empty">
            <i class="extra">
                format_list_bulleted_add
            </i>

            <h5>
                {{ _("You haven't created any entry yet") }}
            </h5>

            {% if has_list_permission('Create', list_type_title) %}
            <p>
                {{ _('Click the button to create a new entry') }}
            </p>

            <div class="space"></div>

            <nav class="center-align">
                <button
                    onclick="callUi('#dialog-create-new-list-item')">
                    {{ _('Create entry') }}
                </button>
            </nav>
            {% endif %}
        </div>

    {% else %}

        {% set ns = namespace(done_header_shown=false) %}

        {% for item, user in items %}

            {% if item.content == '1' and not ns.done_header_shown %}
                {% set ns.done_header_shown = true %}

                <div class="space"></div>
                <div class="divider"></div>

                <legend>
                    {{ _('Done') }}
                </legend>
            {% endif %}


            <div
                class="row wave list-item-row custom-list-item"
                data-item-id="{{ item.id }}"
                onclick="
                    handleListRowClick(
                        event,
                        this,
                        '{{ item.id }}'
                    );
                "
                {% if item.content == '1' %}
                style="opacity: 0.6;"
                {% endif %}>


                <!-- Auswahlcheckbox:
                     nur im Mehrfach-Auswahlmodus sichtbar -->
                <label
                    class="checkbox list-select-control"
                    onclick="event.stopPropagation();">

                    <input
                        type="checkbox"
                        class="list-select-checkbox"
                        onchange="
                            event.stopPropagation();
                            setListItemSelected(
                                '{{ item.id }}',
                                this.checked
                            );
                        ">

                    <span></span>
                </label>


                <span
                    class="list-item-title"
                    {% if item.content == '1' %}
                    style="text-decoration: line-through;"
                    {% endif %}>
                    {{ item.title }}
                </span>


                <div class="max"></div>

<!-- Erledigt / offen -->
                <label
                    class="checkbox list-status-control"
                    onclick="event.stopPropagation();">

                    <input
                        type="checkbox"
                        {% if item.content == '1' %}
                        checked
                        {% endif %}
                        onchange="
                            event.stopPropagation();
                            updateListItem(
                                '{{ item.id }}',
                                this.checked
                            );
                        ">

                    <span></span>
                </label>

            </div>


            {% if not loop.last %}
            <hr>
            {% endif %}

        {% endfor %}

    {% endif %}

</article>
